h2 {
    margin-left: 250px;
}

.main-shipping-container {
    margin-left: 250px;
}

/* .sub-shipping-container {
   margin-top: 30px;
} */
.shipping-item {
    width: 80%;
    height: 300px;
    background-color: #cbcece;
    padding: 25px;
    background-color: white;
    box-shadow: 0 0 5px 0 grey;
    margin: 0 auto;
    position: relative;
    left: 40px;

}

.item1 {
    list-style: none;
}

.item-disc {
    text-align: left;
    font-size: 20px;

}

.shipping-info-container {
    width: 80%;
    background-color: #cbcece;
    padding: 30px 15px 15px 15px;
    background-color: white;
    box-shadow: 0 0 5px 0 grey;
    margin: 100px auto 0 auto;
    position: relative;
    left: 40px;

}

.shipping-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.sub-shipping-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding-left: 500px;
}

.toShipp {
    padding-top: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
}